*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

/*First Section*/

.container{
    width: 900px;
    margin: 30px auto;
}

.box{
    display: inline-block;
    width: calc(100% / 3);
    margin: 0 -2px 30px;
}

.product img{
    width: 95%;
    margin-bottom: 5px;
}

/*Products*/

.product > span{
    display: block;
}

.box{
    position: relative;
}



/*Label*/

.product span:nth-of-type(1){
    font-size: 13px;
}

.product span:nth-of-type(2){
    font-weight: bold;
}

.price{
    font-size: 13px;
    color: red;
    font-weight: bold;
}

.exprice{
    font-weight: normal;
    color: black;
    text-decoration: line-through;
}

.like{
    display: inline-block;
    font-size: 30px;
    background-color: white;
    position: absolute;
    left: 250px;
    top: 20px;
    padding: 5px 10px;
}

.block{
    display: inline-block;
    font-size: 15px;
    position: absolute;
}

/*Position*/

.position{
    left: 0;
    bottom: 70px;
    padding: 3px 5px;
}

.position2{
    left: 50px;
    bottom: 70px;
    padding: 3px 5px;
 }

/*Colors*/

.red{
    background-color: rgba(235, 0, 55, 1);
}


.green{
    background-color: rgba(0, 135, 90, 1);
}




/*Images*/

img:hover{
    background-image: url(/img/1b.webp);
    background-size: contain;
    background-repeat: no-repeat;
}
